<footer id="footer" class="footer ">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 display-footer logo-size">
                    <div class="single-footer">
                        <div class="logo">
                            <a href="<%= root_path %>"><%= image_tag 'MTB Logo-06.png', alt: '#', style: "width: 45%;" %></a>
                        </div>
                        <ul class="mt-2">
                            <li><i style="color: #FFFFFF;" class="fa fa-envelope"></i><a style="color: #FFFFFF; padding-left: 10px; align-self: center;">meditechbilling.usa@gmail.com</a></li>
                            <li style="color: #FFFFFF;"><i style="color: #FFFFFF; padding-right: 10px;" class="fa fa-phone"></i>+19543864393</li>
                        </ul>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-12 display-footer">
                    <div class="single-footer f-link">
                        <h2>Important Links</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="<%= root_path %>"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                                    <li><a href="<%= about_path %>"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                                    <li><a href="#services" class="scroll-to-services"><i class="fa fa-caret-right"></i>Services</a></li>
                                    <li><a href="<%= contact_path %>"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 display-footer">
                    <div class="single-footer">
                        <h2>Follow Us</h2>
                        <ul class="social">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li> <!-- Updated to Instagram -->
                            <li><a href="#"><i class="icofont-linkedin"></i></a></li> <!-- Updated to LinkedIn -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>