<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Medical Billing Services, Healthcare Solutions, Revenue Cycle Management, Medical Practice Management, MTB Solutions">
    <meta name="description" content="Learn about MTB Solutions, a leading provider of medical billing and healthcare management services. Discover our vision, mission, and commitment to enhancing profitability and patient focus for medical practices.">
    <meta name='copyright' content='MTB Solutions'>
    <meta name="author" content="MTB Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Us | MTB Solutions - Medical Billing & Healthcare Management</title>
    <link rel="icon" href="<%= asset_path('favicon.png') %>">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= asset_path('application.css') %>">
    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content="About Us | MTB Solutions - Medical Billing & Healthcare Management">
    <meta property="og:description" content="Learn about MTB Solutions, a leading provider of medical billing and healthcare management services. Discover our vision, mission, and commitment to enhancing profitability and patient focus for medical practices.">
    <meta property="og:image" content="<%= asset_path('about-us.jpg') %>">
    <meta property="og:url" content="https://www.yourwebsite.com/about-us">
    <meta property="og:type" content="website">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="About Us | MTB Solutions - Medical Billing & Healthcare Management">
    <meta name="twitter:description" content="Learn about MTB Solutions, a leading provider of medical billing and healthcare management services. Discover our vision, mission, and commitment to enhancing profitability and patient focus for medical practices.">
    <meta name="twitter:image" content="<%= asset_path('about-us.jpg') %>">
</head>

<body>
    <%= render "shared/navbar" %>
    <div class="breadcrumbs-about" style="background-image:url('<%= asset_path('about-us.jpg') %>');">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-6">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-us section section-background">
        <div style="justify-items: center;">
            <p class="about-summary" style="color: black;font-size: medium;">
                One of the aim is focuses on increasing the profitability of your medical practice, assisting you to sustain it, and increasing patient focus.
            </p>
            <p class="about-summary" style="color: black;font-size: medium;">We manage better information for better results and outcomes.</p>
        </div>
    </section>
    <section class="about-us section-background" style="padding-top: 50px;">
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 margin-bottom account-image-large">
                    <%= image_tag 'vision.png', alt: 'Our Vision - MTB Solutions', style: "float: inline-start; width: 100%;" %>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" style="align-content: center;">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Our <span style="color:black; text-decoration: underline; text-decoration-color: #1d6ea3">Vision</span></h2>
                    </div>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 24px; font-weight: 400;">
                        At MTB Solutions, we envision a healthcare landscape where medical practices thrive through streamlined processes, empowered by our innovative medical billing and management services. Our vision is to be the leading provider of efficient solutions that enhance profitability, sustainability, and patient focus.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 account-image-mobile">
                    <%= image_tag 'vision.png', alt: 'Our Vision - MTB Solutions', style: "width: 100%;" %>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us section-background" style="padding: 50px 0;">
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" style="align-content: center;">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Our <span style="color:black; text-decoration: underline; text-decoration-color: #1d6ea3">Mission</span></h2>
                    </div>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 24px; font-weight: 400;">
                        Our mission at MTB Solutions is to deliver skillful medical billing and management services that eliminate hassles for medical practices and affiliated insurance matters. Through our team of experienced Healthcare IT Solution Providers and our meticulously developed medical billing module, we aim to not only ensure accuracy and efficiency but also to save valuable time and resources.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <%= image_tag 'our-mission.png', alt: 'Our Mission - MTB Solutions', style: "float: inline-end; width: 100%;" %>
                </div>
            </div>
        </div>
    </section>
    <%= render "shared/footer" %>
    <script src="<%= asset_path('js/jquery.min.js') %>"></script>
    <script src="<%= asset_path('js/jquery-migrate-3.0.0.js') %>"></script>
    <script src="<%= asset_path('js/jquery-ui.min.js') %>"></script>
    <script src="<%= asset_path('js/easing.js') %>"></script>
    <script src="<%= asset_path('js/colors.js') %>"></script>
    <script src="<%= asset_path('js/popper.min.js') %>"></script>
    <script src="<%= asset_path('js/bootstrap-datepicker.js') %>"></script>
    <script src="<%= asset_path('js/jquery.nav.js') %>"></script>
    <script src="<%= asset_path('js/slicknav.min.js') %>"></script>
    <script src="<%= asset_path('js/jquery.scrollUp.min.js') %>"></script>
    <script src="<%= asset_path('js/niceselect.js') %>"></script>
    <script src="<%= asset_path('js/tilt.jquery.min.js') %>"></script>
    <script src="<%= asset_path('js/owl-carousel.js') %>"></script>
    <script src="<%= asset_path('js/jquery.counterup.min.js') %>"></script>
    <script src="<%= asset_path('js/steller.js') %>"></script>
    <script src="<%= asset_path('js/wow.min.js') %>"></script>
    <script src="<%= asset_path('js/jquery.magnific-popup.min.js') %>"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="<%= asset_path('js/bootstrap.min.js') %>"></script>
    <script src="<%= asset_path('js/main.js') %>"></script>
</body>

</html>