<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Contact Us, Medical Billing Services, Healthcare Solutions, Revenue Cycle Management, MTB Solutions">
    <meta name="description" content="Get in touch with MTB Solutions for expert medical billing and healthcare management services. Contact us today for inquiries, support, or to schedule a consultation.">
    <meta name='copyright' content='MTB Solutions'>
    <meta name="author" content="MTB Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Us | MTB Solutions - Medical Billing & Healthcare Management</title>
    <link rel="icon" href="<%= asset_path('favicon.png') %>">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= asset_path('application.css') %>">
    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content="Contact Us | MTB Solutions - Medical Billing & Healthcare Management">
    <meta property="og:description" content="Get in touch with MTB Solutions for expert medical billing and healthcare management services. Contact us today for inquiries, support, or to schedule a consultation.">
    <meta property="og:image" content="<%= asset_path('contact-us.jpg') %>">
    <meta property="og:url" content="https://www.yourwebsite.com/contact-us">
    <meta property="og:type" content="website">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Contact Us | MTB Solutions - Medical Billing & Healthcare Management">
    <meta name="twitter:description" content="Get in touch with MTB Solutions for expert medical billing and healthcare management services. Contact us today for inquiries, support, or to schedule a consultation.">
    <meta name="twitter:image" content="<%= asset_path('contact-us.jpg') %>">
</head>

<body>
    <%= render "shared/navbar" %>
    <div class="breadcrumbs" style="background-image:url('<%= asset_path('contact-us.jpg') %>');">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-6">
                        <h2>Contact Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-us section section-background">
        <div class="container">
            <div class="contact-info mb-5">
                <div class="row">
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont icofont-ui-call"></i>
                            <div class="content mt-2">
                                <h3>+19543864393</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont icofont-email"></i>
                            <div class="content mt-2">
                                <h3>meditechbilling.usa@gmail.com</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont-google-map"></i>
                            <div class="content">
                                <h3>1214 Michael Dr, Pittsburgh, PA 15227</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-us-left">
                            <%= image_tag 'contact-us-form.jpg', alt: 'Contact Us Form - MTB Solutions' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-us-form">
                            <h2>Contact With Us</h2>
                            <p>If you have any questions please feel free to contact with us.</p>
                            <%= render "shared/form" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%= render "shared/footer" %>
    <script src="<%= asset_path('js/jquery.min.js') %>"></script>
    <script src="<%= asset_path('js/jquery-migrate-3.0.0.js') %>"></script>
    <script src="<%= asset_path('js/jquery-ui.min.js') %>"></script>
    <script src="<%= asset_path('js/easing.js') %>"></script>
    <script src="<%= asset_path('js/colors.js') %>"></script>
    <script src="<%= asset_path('js/popper.min.js') %>"></script>
    <script src="<%= asset_path('js/bootstrap-datepicker.js') %>"></script>
    <script src="<%= asset_path('js/jquery.nav.js') %>"></script>
    <script src="<%= asset_path('js/slicknav.min.js') %>"></script>
    <script src="<%= asset_path('js/jquery.scrollUp.min.js') %>"></script>
    <script src="<%= asset_path('js/niceselect.js') %>"></script>
    <script src="<%= asset_path('js/tilt.jquery.min.js') %>"></script>
    <script src="<%= asset_path('js/owl-carousel.js') %>"></script>
    <script src="<%= asset_path('js/jquery.counterup.min.js') %>"></script>
    <script src="<%= asset_path('js/steller.js') %>"></script>
    <script src="<%= asset_path('js/wow.min.js') %>"></script>
    <script src="<%= asset_path('js/jquery.magnific-popup.min.js') %>"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="<%= asset_path('js/bootstrap.min.js') %>"></script>
    <script src="<%= asset_path('js/main.js') %>"></script>
</body>

</html>