<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Medi Tech Billing</title>
    <link rel="icon" href="<%= asset_path('favicon.png') %>">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= asset_path('application.css') %>">
</head>

<body>
    <%= render "shared/navbar" %>
    <section class="slider">
        <div class="hero-slider">
            <div class="single-slider" style="background-image:url('<%= asset_path('slider-3.jpg') %>')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-4 col-sm-12">
                            <div class="text">
                                <h1>Ever done <span>Enrollments?</span></h1>
                                <p class="text-color" style="width: 60%;">
                                    Tired of spending countless hours tracking insurance enrollment statuses? Let MTB Solutions take care of it all, giving you peace of mind and a seamless, stress-free experience.
                                </p>
                                <a href="<%= contact_path %>" class="mt-4 btn">
                                    <span style="color: white; font-size: 13px;">Schedule Consultation</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider" style="background-image:url('<%= asset_path('slider2.jpg') %>')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-4 col-sm-12">
                            <div class="text">
                                <h1>Helping patients understand<br> their <span> claims and bills?</span></h1>
                                <p class="text-color" style="width: 60%;">
                                    At MTB Solutions, we not only manage patient statements but also have a team of experienced staff ready to address any questions or concerns regarding their balances.
                                </p>
                                <a href="<%= contact_path %>" class="mt-4 btn">
                                    <span style="color: white; font-size: 13px;">Sounds Interesting? Yes!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider" style="background-image:url('<%= asset_path('slider-1.jpg') %>')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-4 col-sm-12">
                            <div class="text">
                                <h1>Rejection claim from an <span> insurance company?</span></h1>
                                <p class="text-color" style="width: 60%;">
                                    Our streamlined workflow ensures hassle-free billing and significantly reduced rejection rates. Rely on our expert team and proven processes—experience the difference with us!
                                </p>
                                <a href="<%= contact_path %>" class="mt-4 btn">
                                    <span style="color: white; font-size: 13px;">Sign Me Up For It</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us section section-background" style="padding: 100px 0;">
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" style="align-content: center;">
                    <div class="elementor-widget-container">
                        <h3 class="elementor-heading-title elementor-size-default">About <span style="color:black; text-decoration: underline; text-decoration-color: #1a76d1">us</span></h3>
                    </div>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 30px; font-weight: 400;">
                        MTB Solutions offers expert medical billing and management services to simplify your medical practice and insurance processes. Backed by a team of experienced Healthcare IT Solution Providers, we have developed a highly efficient medical billing module that delivers accurate results while saving you time and money.
                    </p>
                    <a href="<%= about_path %>" class="btn" style="border-radius: unset; background-color: #1a76d1; padding: 6px 20px; font-size: 16px; float: inline-start;">
                        <span style="color: white; font-size: 13px;">Read More</span>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <%= image_tag 'about-us.png', alt: 'about-us', style: "float: inline-end; width: 565px;" %>
                </div>
            </div>
        </div>
    </section>

    <div id="services" class="about-us section-background" style="justify-items: center;">
        <h3 class="elementor-heading-title elementor-size-default">OUR <span style="color:black; text-decoration: underline; text-decoration-color: #1a76d1">SERVICES</span></h3>
    </div>

    <section class="about-us section-background" style="padding-top: 100px;">
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" style="align-content: center;">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Complete RCM <span style="color:black; text-decoration: underline; text-decoration-color: #1a76d1">Solution</span></h2>
                    </div>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 24px; font-weight: 400;">
                        Our skilled and experienced team manages your entire medical billing, revenue cycle, proactive follow-ups, denial management, and reporting. We also guide your practice staff to help you get paid faster and at higher rates.
                    </p>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 30px; font-weight: 400;">
                        Our Medical Billing Specialists help practices boost collections and expedite payments with minimal effort. With our fully integrated PM solution and workflow, providers can efficiently manage variances and denials while maximizing reimbursements.
                    </p>
                    <a href="<%= revenue_cycle_management_path %>" class="btn" style="border-radius: unset; background-color: #1a76d1; padding: 6px 20px; font-size: 16px; float: inline-start;">
                        <span style="color: white; font-size: 13px;">Read More</span>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <%= image_tag 'rcm_1.png', alt: 'rcm_1', style: "float: inline-end; width: 500px;" %>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us section-background" style="padding-top: 100px;">
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 account-image-large">
                    <%= image_tag 'abc.png', alt: 'Billing Audit', style: "float: inline-start; width: 65%;" %>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" style="align-content: center;">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Medical Billing <span style="color:black; text-decoration: underline; text-decoration-color: #1a76d1">Audit</span></h2>
                    </div>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 24px; font-weight: 400;">
                        At MediTech Billing, we specialize in providing comprehensive medical billing audit services designed to ensure accuracy, compliance, and optimal revenue performance for healthcare providers. Our expert team meticulously reviews your billing practices, coding, and documentation to identify errors, reduce claim denials, and prevent potential fraud.
                    </p>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 30px; font-weight: 400;">
                        We help you stay compliant with regulatory standards like HIPAA, Medicare, and Medicaid, while maximizing reimbursements and improving financial efficiency. Trust MediTech Billing to deliver tailored audit solutions that enhance transparency, streamline operations, and safeguard your practice’s financial health. Let us handle the complexities of medical billing audits so you can focus on delivering exceptional patient care.
                    </p>
                    <a href="<%= medical_billing_audit_path %>" class="btn" style="border-radius: unset; background-color: #1a76d1; padding: 6px 20px; font-size: 16px; float: inline-start;">
                        <span style="color: white; font-size: 13px;">Read More</span>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 account-image-mobile">
                    <%= image_tag 'abc.png', alt: 'rcm', style: "width: 65%;" %>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us section-background" style="padding-top: 100px;">
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" style="align-content: center;">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Provider <span style="color:black; text-decoration: underline; text-decoration-color: #1a76d1">Credentialing</span></h2>
                    </div>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 24px; font-weight: 400;">
                        At MediTech Billing, we offer expert provider credentialing services to streamline the process of enrolling healthcare providers with insurance networks, hospitals, and other healthcare entities. Our dedicated team ensures accurate and timely completion of credentialing applications, verifications, and revalidations, helping you avoid delays and compliance issues.
                    </p>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 30px; font-weight: 400;">
                        We handle the complexities of credentialing, including CAQH enrollment, payer enrollments, and primary source verifications, so you can focus on delivering quality patient care. With MediTech Billing, you gain a trusted partner committed to simplifying credentialing, reducing administrative burdens, and ensuring your providers are fully credentialed and ready to practice. Let us help you navigate the credentialing process with efficiency and precision.
                    </p>
                    <a href="<%= about_path %>" class="btn" style="border-radius: unset; background-color: #1a76d1; padding: 6px 20px; font-size: 16px; float: inline-start;">
                        <span style="color: white; font-size: 13px;">Read More</span>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 account-image-large">
                    <%= image_tag 'doc-2.webp', alt: 'rcm', style: "width: 65%;" %>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us section-background" style="padding-top: 100px;">
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 account-image-large">
                    <%= image_tag 'account.png', alt: 'rcm', style: "float: inline-start; width: 65%;" %>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" style="align-content: center;">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Accounts <span style="color:black; text-decoration: underline; text-decoration-color: #1a76d1">Receivable</span></h2>
                    </div>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 24px; font-weight: 400;">
                        We help providers reduce A/R days through timely follow-up services, offering clear insights into overdue accounts and ensuring prompt communication with insurance companies and patients.
                    </p>
                    <a href="<%= about_path %>" class="btn" style="border-radius: unset; background-color: #1a76d1; padding: 6px 20px; font-size: 16px; float: inline-start;">
                        <span style="color: white; font-size: 13px;">Read More</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us section-background" style="padding-top: 100px;">
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" style="align-content: center;">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Payments <span style="color:black; text-decoration: underline; text-decoration-color: #1a76d1">Reconciliation</span></h2>
                    </div>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 24px; font-weight: 400;">
                        After processing an insurance claim, an EOB or electronic remittance advice is generated, detailing the benefits paid or denied for medical treatment. Our team reviews overpayments, recoupments, and reimbursements to insurance companies, ensuring compliance with practice requirements.
                    </p>
                    <a href="<%= about_path %>" class="btn" style="border-radius: unset; background-color: #1a76d1; padding: 6px 20px; font-size: 16px; float: inline-start;">
                        <span style="color: white; font-size: 13px;">Read More</span>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <%= image_tag 'payments.png', alt: 'rcm', style: "float: inline-end; width: 85%;" %>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us section-background" style="padding-top: 100px;">
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 account-image-large">
                    <%= image_tag 'validation.png', alt: 'rcm', style: "float: inline-start; width: 85%;" %>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" style="align-content: center;">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Claims <span style="color:black; text-decoration: underline; text-decoration-color: #1a76d1">Scrubber/Validation</span></h2>
                    </div>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 24px; font-weight: 400;">
                        Cleaning up medical claims is a crucial step in revenue cycle management. Claim denials often result from human error due to insufficient verification before submission. Therefore, it's essential to validate a health insurance application before processing.
                    </p>
                    <a href="<%= about_path %>" class="btn" style="border-radius: unset; background-color: #1a76d1; padding: 6px 20px; font-size: 16px; float: inline-start;">
                        <span style="color: white; font-size: 13px;">Read More</span>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 account-image-mobile">
                    <%= image_tag 'validation.png', alt: 'rcm', style: "width: 85%;" %>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us section-background" style="padding: 100px 0;">
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" style="align-content: center;">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Accurate Coding <span style="color:black; text-decoration: underline; text-decoration-color: #1a76d1">Services</span></h2>
                    </div>
                    <p style="text-align: justify; font-size: 16px; line-height: 1.6; margin-bottom: 24px; font-weight: 400;">
                        Accurate medical coding is essential for all healthcare providers. We can help improve coding accuracy and ensure compliance with legal requirements. Simply scan and upload your patient records to our secure FTP server, and our dedicated team of coding specialists will download and review them daily.
                    </p>
                    <a href="<%= about_path %>" class="btn" style="border-radius: unset; background-color: #1a76d1; padding: 6px 20px; font-size: 16px; float: inline-start;">
                        <span style="color: white; font-size: 13px;">Read More</span>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <%= image_tag 'coder.png', alt: 'rcm', style: "float: inline-end; width: 85%;" %>
                </div>
            </div>
        </div>
    </section>

    <!-- Start clients -->
    <div class="clients overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="owl-carousel clients-slider">
                        <div class="single-clients">
                            <%= image_tag 'client1.png', alt: '#' %>
                        </div>
                        <div class="single-clients">
                            <%= image_tag 'client2.png', alt: '#' %>
                        </div>
                        <div class="single-clients">
                            <%= image_tag 'client3.png', alt: '#' %>
                        </div>
                        <div class="single-clients">
                            <%= image_tag 'client4.png', alt: '#' %>
                        </div>
                        <div class="single-clients">
                            <%= image_tag 'client5.png', alt: '#' %>
                        </div>
                        <div class="single-clients">
                            <%= image_tag 'client1.png', alt: '#' %>
                        </div>
                        <div class="single-clients">
                            <%= image_tag 'client2.png', alt: '#' %>
                        </div>
                        <div class="single-clients">
                            <%= image_tag 'client3.png', alt: '#' %>
                        </div>
                        <div class="single-clients">
                            <%= image_tag 'client4.png', alt: '#' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="appointment section-background" style="padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>We Are Always Ready to Help You</h2>
                        <h4 style="justify-items: center;">Contact Us</h4>
                        <%= image_tag 'section-img.png', alt: '#' %>
                        <p>Schedule a Free Consultation & Audit of Your Accounts Receivable</p>
                        <p>1214 Michael Dr, Pittsburgh, PA 15227</p>
                        <h5 style="padding-top: 40px;">Email us: meditechbilling.usa@gmail.com</h5>
                        <h6 style="padding-top: 30px;">Call Now to Schedule!</h6>
                        <p><i class="fa fa-phone"></i> +19543864393 </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <%= render "shared/form" %>
                </div>
                <div class="col-lg-6 col-md-12 ">
                    <div class="appointment-image">
                        <%= image_tag 'contact-img.png', alt: '#' %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%= render "shared/footer" %>
    <script src="<%= asset_path('js/jquery.min.js') %>"></script>
    <script src="<%= asset_path('js/jquery-migrate-3.0.0.js') %>"></script>
    <script src="<%= asset_path('js/jquery-ui.min.js') %>"></script>
    <script src="<%= asset_path('js/easing.js') %>"></script>
    <script src="<%= asset_path('js/colors.js') %>"></script>
    <script src="<%= asset_path('js/popper.min.js') %>"></script>
    <script src="<%= asset_path('js/bootstrap-datepicker.js') %>"></script>
    <script src="<%= asset_path('js/jquery.nav.js') %>"></script>
    <script src="<%= asset_path('js/slicknav.min.js') %>"></script>
    <script src="<%= asset_path('js/jquery.scrollUp.min.js') %>"></script>
    <script src="<%= asset_path('js/niceselect.js') %>"></script>
    <script src="<%= asset_path('js/tilt.jquery.min.js') %>"></script>
    <script src="<%= asset_path('js/owl-carousel.js') %>"></script>
    <script src="<%= asset_path('js/jquery.counterup.min.js') %>"></script>
    <script src="<%= asset_path('js/steller.js') %>"></script>
    <script src="<%= asset_path('js/wow.min.js') %>"></script>
    <script src="<%= asset_path('js/jquery.magnific-popup.min.js') %>"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="<%= asset_path('js/bootstrap.min.js') %>"></script>
    <script src="<%= asset_path('js/main.js') %>"></script>
</body>

</html>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const scrollToServices = document.querySelector('.scroll-to-services');
        scrollToServices.addEventListener('click', function() {
            const servicesSection = document.getElementById('services');
            servicesSection.scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>